* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: brown;
  cursor: url("test3.png"), auto;
}

.container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  width: 80%;
  margin: auto;
}

.taupe {
  background: url("taupe.png");
  height: 100px;
  /* width: 150px; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 1px solid black; */
  position: relative;
  top: 100px;
  z-index: 1;
  transition: all 300ms ease-in-out;
}

.cercle {
  height: 20px;
  width: 150px;
  background-color: rgb(109, 72, 4);
  border-radius: 20px;
}

.mole {
  margin: auto;
}

.fondbrun {
  height: 100vh;
  width: 100%;
  background-color: brown;
}

.terrier {
  position: relative;
  z-index: 2;
  /* border:1px solid black; */
  height: 100px;
  background-color: brown;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #8e443d;
  font-family: cursive;
  -webkit-text-stroke: 3px blanchedalmond;
  margin: 0;
}

.annonce {
  display: flex;
  border:5px solid yellow;
  justify-content: space-evenly;
  font-size: 40px;
  color:blanchedalmond;
  font-family: cursive;
  font-weight: bold;
  width: 60%;
  margin: auto;
}

audio {
  display: none;
}

.start {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: auto;
}
.btnStart {
  cursor: pointer;
  color:brown;
  font-size: 80px;
  padding: 30px 60px;
  background-color: #ccc;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  max-width: fit-content;
  border: 10px solid brown;
}

.btnStart:hover {
  background: white;
}

.scoreFinal {
  font-size: 40px;
  color:yellow;
  padding: 20px;
  font-family: cursive;
}