* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: brown;
  cursor: url("test3.png"),auto;
}

.container {
  display: grid;
  grid-template: repeat(2,1fr) / repeat(3,1fr);
  width: 80%;
  margin:auto;

}

.taupe {
  background: url("taupe.png");
  height: 100px;
  /* width: 150px; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 1px solid black; */
  position: relative;
  top: 100px;
  z-index: 1;
  transition: all 300ms ease-in-out;


}

.cercle {
  height:20px;
  width:150px;
  background-color: rgb(109, 72, 4);
  border-radius: 20px;
  
  
}

.mole {
  margin: auto;
}

.fondbrun {
  height:100vh;
  width:100%;
  background-color:brown;
}

.terrier {
  position: relative;
  z-index: 2;
  /* border:1px solid black; */
  height:100px;
  background-color: brown;
}